/* Is it me you're looking for...? */
@font-face{font-family:Brandon;src:url(/fonts/Brandon_thin.otf);font-weight:200;}
@font-face{font-family:Brandon;src:url(/fonts/Brandon_light.otf);font-weight:300;}
@font-face{font-family:Brandon;src:url(/fonts/Brandon_reg.otf);font-weight:400;}
@font-face{font-family:Brandon;src:url(/fonts/Brandon_med.otf);font-weight:500;}
@font-face{font-family:Brandon;src:url(/fonts/Brandon_bld.otf);font-weight:600;}
@font-face{font-family:Brandon;src:url(/fonts/Brandon_blk.otf);font-weight:700;}

/* CSS declarations go here */
body,html{
    height:100%;
    font-family:Brandon;
}
.mnDv{
    background:#f2f2f2 url(/assets/mnBg.png) no-repeat right top;
    background-size:contain;
}
.mainBg{
    
    height:100%;
    padding:2.5% 0;
}
.mainBg form>*:not('reset'){
    padding-left:10%;
}
.mainBg form .backA{
    font-size:0.8em;
    padding-left:12%;
}
.mainBg form .backA i{
    position:absolute;
}
.mainBg form .backA b{
    font-size:1.5em;
    margin-left: 5%;
}
.mainBg form .backA:hover{
    text-decoration:underline;
}
.mainBg form .pgTitle{
    background:#005778;
    color:#fff;
    font-size:1.5em;
    font-weight:600;
    padding:3% 0 2% 12%;
}
.ordTtl{
    font-weight:bold;
    font-size:1.3em;
}
.ordTtl p{
    font-weight:400;
    color:#004d40;
    font-size:0.9em;
}
.ordTtl img{
    width:23px;
    margin:0 1%;
}
.ordTtl b{
    font-size:1.5em;
    color:#004d40;
}
.payBtn{
    padding:0 3% !important;
}
.payBtn .btn{
    width:100%;
    font-size:1.2em;
    font-weight:600;
    margin:2% 0;
}
.payBtn .securePay{
    
}
.payBtn .latePay{
    background:#005778;
}
/*
.mainBg>.row>.s7 .flyrBg{
    background:rgba(222,222,222,0.6);
    padding:5%;
}
.mainBg>.row>.s7 .flyrBg img{
    width:15%;
}
*/
.mainBg>.row>.s7{
    padding:42% 0 0 11%;
}
.reset{
    background:#960018;
}
.addMember{
    background:#F05B6E;
}
label[for=phone] i{
    font-size:0.9em;
    font-variant:small-caps;
    font-style: normal;
    font-weight:500;
}


/* label color */
.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #F05B6E;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #F05B6E;
 box-shadow: 0 1px 0 0 #F05B6E;
}
/* valid color */
.input-field input[type=text].valid {
/*
     border-bottom: 1px solid #F05B6E;
     box-shadow: 0 1px 0 0 #F05B6E;
*/
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #960018 ;
 box-shadow: 0 1px 0 0 #960018 ;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #F05B6E;
}
.dropdown-content li > a, .dropdown-content li > span{
    color:#F05B6E;
}

/*Loader*/
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
#xLoader{
    background:rgba(242,242,240,0.95);
    width:100%;
    height:100%;
}
#xLoader p{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 21%;
    top: 0;
    margin: auto;
    font-size: 3em;
    text-align: center;
    width: 33%;
    height: 21%;
    text-transform: uppercase;
}
.xGo{
    visibility:hidden;
    transition:all 333ms linear;
}
@media (max-width:768px){
    #regForm{
        width:100%;
    }
}
